*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: 0px;
}

body{
    padding: 50px;
    text-align: center;
}
div.userInfo{
    margin-bottom: 10px;
    border: solid 1px black;
}
#sec1{
    margin: 20px 0px;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    border: solid 2px black;
    width: 24%;
    margin-bottom: 15px;
}